.add-balance-btn {
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: rgb(0, 180, 0);
  color: white;
}

.add-balance-btn:hover {
  background-color: green;
}

.form-section {
  display: flex;
  gap: 16px;
  align-items: center;
}

form {
  margin-top: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
}

form input {
  padding: 8px;
  border-radius: 8px;
  border: solid 1px;
}

form .add-balance-btn {
  margin: 0;
}

.cancel-btn {
  background-color: transparent;
  margin-top: 16px;
  color: black;
  border: solid 1px black;
}

.cancel-btn:hover {
  background-color: #f3f3f3;
}
