.total-expense {
  background-color: var(--bg-secondary);
  padding: 32px 32px;
  border-radius: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.total-expense h3 {
  margin-bottom: 20px;
}

.total-expense h3 span {
  color: red;
}
