.wallet-balance {
  background-color: var(--bg-secondary);
  padding: 32px 32px;
  border-radius: 16px;
  text-align: center;
}

.wallet-balance h3 {
  margin-bottom: 20px;
}

.wallet-balance h3 span {
  color: rgb(0, 220, 0);
}
