:root {
  --bg-primary: #0c0a2d;
  --bg-secondary: #1a1648;
}

.app {
  background-color: var(--bg-primary);
  color: white;
  min-height: 100vh;
  font-family: "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
