* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 1440px;
}

:root {
  --bg-primary: #0c0a2d;
  --bg-secondary: #1a1648;
  font-family: "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--bg-primary);
}
